<% if error %>
  <%= error %>
<% end %>

<form action='/sessions' method='post' id='login-form'>

  <label for='user[username]' class='input-input'>Username:</label>
  <input type='text' name='user[username]'>
  <label for='user[password]' class='input-label'>Password:</label>
  <input type='password' name='user[password]'>

  <input type='submit' value='login'>
</form>
