<h2>Welcome, <%= @user.username %></h2>

<h3>Here is a list of questions you have asked</h3>

  <% @user_questions.each do |question| %>
<ul>
  <li><b>Title:</b> <%= question.title %></li>
  <button type='button' class='show-more'>Show more!</button>
  <li class='question-body'><b>Question:</b> <%= question.body %></li>
  <% @question_answers.each do |answer| %>
  <% if answer.question_id == question.id %>
  <li class='question-answer'><b>Answer:</b> <%= answer.body %></li>
  <button type='button' class='best-answer'>Best answer?</button>
     <% end %>
  <% end %>
</ul>
<% end %>

